{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body{
            background-image: url({% static 'images/awarda11.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 1000px;
        }

        @media only screen and (max-width:800px) {

  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="main">
 <div>
    <h1 class="text2" style="color: yellow; font-size: 48px; position: absolute; top: 0px; left: 60px">
        SAHARA WORLD EVENTS MANAGEMENT SERVICES
    </h1>
        </div>
 <div>
        <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; left: 50px">&nbsp;&nbsp;WORLD'S LARGEST FAMILY</h2>
            <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; right: 60px">Group of (SWMS) Services (OPC) Pvt. Ltd.</h2>
    </div>
 <div>
<h1 style="color: silver; font-size: 120px; position: absolute; top: 50px; left: 230px; font-family: 'Dancing Script', cursive;">SAHARA WORLD</h1>
</div>
 <div>
<h1 style="color: silver; font-size: 70px; position: absolute; top: 230px; left: 530px; ">Bollywood</h1>
    <h1 style="color: silver; font-size: 100px; position: absolute; top: 300px; left: 300px">Live in CONCERT</h1>
        </div>
<div class="border">
<h5 style="position: absolute; left: 460px; color: silver; font-size: 30px; top: 430px; padding: 20px; border-style: solid; border-width: 2px; border-color: silver; border-radius: 20px">HYDERABAD TOUR MAY-2021</h5>
</div>
 <div>
<img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="750px" width="650px" style="position: absolute; top: 120px; left: -200px; ">
     </div>
 <div>
<img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="750px" width="650px" style="position: absolute; top: 120px; right: -180px; ">
     </div>
 <div>
 <h1 style=" display: block; background: gold; position: absolute; width: 550px; height: 3px; top: 610px; left: 430px; margin: auto; border-radius: 100%; "></h1>
 <div><img src="{% static 'images/WhatsApp_Image_2021-03-02_at_10.45.11_AM-removebg-preview.png' %}" height="500px" width="1000px;" style="position: absolute; top: 470px; left: 200px"></div>
 <div><h2 style="font-size: 50px; color: blue; position: absolute; top: 660px; left: 420px">SAHARA CINE AWARDS</h2></div>
<h1 style=" display: block; background: gold; position: absolute; width: 550px; height: 3px; top: 830px; left: 430px; margin: auto; border-radius: 100%; "></h1>
     </div>
<div>
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 850px; left: 310px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 850px; left: 620px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 850px; right: 0px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 850px; left: 0px">
</div>
<div>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 920px; left: 130px">Sahara World</h3>
<h3 style="color: gold; font-size: 30px; position: absolute; top: 950px; left: 130px;">Cine Awards<br><span style="position: absolute; top: 40px; left: 35px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 920px; left: 445px">Sahara World</h3>
<h3 style="color: gold;font-size: 30px; position: absolute;top: 960px; left: 430px">VVIP's & VIP<br><span style="position: absolute; top: 40px; left: 55px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 920px; right: 430px">Sahara World</h3>
<h3 style="color: gold; font-size: 22px; position: absolute; top: 970px; right: 410px">Top Media of the Year<br><span style="position: absolute; top: 35px; right: 50px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 920px; right: 140px">Sahara World</h3>
<h3 style="color: gold; font-size: 25px; position: absolute; top: 955px; right: 130px">Best Company of<br><span style="position: absolute; right: 10px">the Year Award</span><br><span style="position: absolute; top: 55px; right: 37px; font-size: 47px">2021</span></h3>
        </div>
<div>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1075px; left: 143px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1075px; left: 450px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1075px; right: 140px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1075px; right: 435px;">Sahara World</h2>
</div>
 <div>
        <h1 style="color: gold; position: absolute; top: 1180px; right: 60px; font-size: 40px; font-family: 'Dancing Script', cursive;">We Make Your Life More Beautiful...!</h1>
    </div>
<div>
<h1 style="font-size: 20px; color: gold; position: absolute; top: 1300px; right: 150px">VENUE WILL BE ANNOUNCED SHORTLY</h1>
    <h4 style="font-size: 15px; color: gold; position: absolute; top: 1330px; right: 260px">Program Begins at 7:00 PM</h4>
<h3 style="font-size: 20px; color: gold; position: absolute; top: 1360px; right: 350px">RED CARPET AFFAIR<span style="font-size: 50px; position: absolute; color: gold; top: -27px; ">&nbsp;&nbsp;.</span></h3>
<h3 style="font-size: 20px; color: gold; position:absolute; top: 1360px; right: 120px">FORMAL ATTIRE</h3>
        </div>
 <h1 style=" display: block; background: gold; position: absolute; width: 390px; height: 3px; top: 1320px; right: 150px"></h1>
 <h1 style=" display: block; background: gold; position: absolute; width: 390px; height: 3px; top: 1285px; right: 150px"></h1>
 <h1 style=" display: block; background: gold; position: absolute; width: 500px; height: 3px; top: 1350px; right: 100px"></h1>
<div>
        <p style="color: gold; position: absolute; top: 1180px; left: 50px; font-size: 30px">Come to feel</p>
        <p style="color: gold; position: absolute; top: 1220px; left: 50px; font-size: 30px;">"the Rhythm of Life"</p>
        <p style="color: gold; position: absolute; top: 1260px; left: 50px; font-size: 30px;">meet you in hyderabad.</p>
    </div>
<div>
    <p style="color: gold; position: absolute; top: 1340px; left: 30px; font-size: 15px">THIS EVENT WILL BE ANNOUNCED AND PLACED SHORTLY.</p>
<h4 style="color: gold; position: absolute; top: 1360px; left: 30px; font-size: 15px">TICKETS WILL BE OUT SHORTLY ON ONLINE & OFFLINE</h4>
</div>
</div>
</body>
</html>