{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body{
            background-image: url({% static 'images/award2.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
            width: 2200px;
            height: 1500px;
        }
    </style>
    <title>Title</title>
</head>
<body>
<img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="550px" width="630px" style="position: absolute; top: 100px; left: 800px; ">
<h4 style="color: gold; font-size: 45px; position: absolute; top: -35px; left: 650px">SAHARA BOLLYWOOD LIVE CINE AWARDS-2021</h4>
<h1 style=" display: block; background: gold; position: absolute; width: 610px; height: 3px; top: 1180px; left: 375px"></h1>
<h1 style="font-size: 30px; color: gold; position: absolute; top: 1190px; left: 385px">VENUE WILL BE ANNOUNCED SHORTLY</h1>
<img src="{% static 'images/spark2-removebg-preview.png' %}" height="450px" width="850px" style="position: absolute; top: 300px; left: 550px">
<p style="font-size: 180px; color: gold; position: absolute; top: 120px; left: 650px"><span>FILM</span><span style="position:absolute; left: 510px"> FARES</span></p>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 870px; left: 390px">Best Sahara</h3>
<h3 style="color: gold;font-size: 35px; position: absolute;top: 920px; left: 340px">Company Awards<br><span style="position: absolute; top: 45px; left: 60px; font-size: 67px">2021</span></h3>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 870px; left: 830px">Best Sahara</h3>
<h3 style="color: gold; font-size: 40px; position: absolute; top: 920px; left: 800px;">Cine Awards<br><span style="position: absolute; top: 45px; left: 42px; font-size: 67px">2021</span></h3>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 870px; right: 400px">Best Sahara</h3>
<h3 style="color: gold; font-size: 40px; position: absolute; top: 920px; right: 360px">Media Awards<br><span style="position: absolute; top: 45px; right: 53px; font-size: 67px">2021</span></h3>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 870px; right: -20px">Best Sahara</h3>
<h3 style="color: gold; font-size: 45px; position: absolute; top: 920px; right: -50px">VVIP Award<br><span style="position: absolute; top: 45px; right: 48px; font-size: 67px">2021</span></h3>
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 735px; left: 600px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 735px; right: 180px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 735px; right: -230px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 735px; left: 170px">
<h3 style="font-size: 25px; color: gold; position: absolute; top: 1270px; left: 420px">RED CARPET AFFAIR<span style="font-size: 50px; position: absolute; color: gold; top: -27px; ">&nbsp;&nbsp;.</span></h3>
<h3 style="font-size: 25px; color: gold; position:absolute; top: 1270px; left: 750px">FORMAL ATTIRE</h3>
<h4 style="font-size: 20px; color: gold; position: absolute; top: 1230px; left: 550px">Program Begins at 7:00 PM</h4>
<h5 style="font-size: 25px; color: gold; position: absolute; top: 1290px; left: 640px">TICKETS $20</h5>
<p style="color: gold; position: absolute; top: 1180px; right: 60px; font-size: 20px">ADMISSION INCLUDES 2 CHAMPAGINE DRINKS.</p>
<p style="color: gold; position: absolute; top: 1210px; right: -100px; font-size: 20px">THIS EVENT WILL WILL BE ANNOUNCED AND PLACED SHORTLY.</p>
<h4 style="color: gold; position: absolute; top: 1250px; right: 5px; font-size: 18px">TICKETS WILL BE OUT SHORTLY ON ONLINE & OFFLINE</h4>
<h1 style=" display: block; background: gold; position: absolute; width: 610px; height: 3px; top: 1225px; left: 375px"></h1>

<h1 style=" display: block; background: gold; position: absolute; width: 800px; height: 3px; top: 1265px; left: 280px"></h1>

</body>
</html>