{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body{
            background-image: url({% static 'images/awarda10.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 1400px;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div>
    <h1 class="text2" style="color: yellow; font-size: 48px; position: absolute; top: 0px; left: 60px">
        SAHARA WORLD EVENTS MANAGEMENT SERVICES
    </h1>
        </div>
<div>
        <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; left: 50px">&nbsp;&nbsp;WORLD'S LARGEST FAMILY</h2>
            <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; right: 60px">Group of (SWMS) Services (OPC) Pvt. Ltd.</h2>
    </div>
<div>
<h1 style="color: silver; font-size: 120px; position: absolute; top: 80px; left: 230px; font-family: 'Dancing Script', cursive;">SAHARA WORLD</h1>
</div>
<div>
<h1 style="color: silver; font-size: 70px; position: absolute; top: 250px; left: 530px; ">Bollywood</h1>
    <h1 style="color: silver; font-size: 100px; position: absolute; top: 320px; left: 280px">Live in CONCERT</h1>
        </div>
<div class="border">
<h5 style="position: absolute; left: 460px; color: silver; font-size: 30px; top: 460px; padding: 20px; border-style: solid; border-width: 2px; border-color: silver; border-radius: 20px">HYDERABAD TOUR MAY-2021</h5>
</div>
<div>
    <img src="{% static 'images/sandeep-removebg-preview.png' %}" height="350px" width="430px" style="position:absolute; top: 200px; left: -30px">
    <img src="{% static 'images/unnamed-removebg-preview.png' %}" height="350px" width="350px" style="position: absolute; top: 450px">
    <h3 style="font-size: 30px; color: white; position: absolute; top: 430px; left: 90px">Sandeep Singh</h3>
</div>
<div>
     <img src="{% static 'images/ritika-removebg-preview.png' %}" height="300px" width="200px" style="position: absolute; top: 250px; right: 60px">
    <img src="{% static 'images/idol-removebg-preview (2).png' %}" height="250px" width="380px" style="position: absolute; top: 500px; right: 0px">
    <h3 style="font-size: 30px; color: white; position: absolute; top: 450px; right: 50px;">Riteeka Panday</h3>
</div>
<div>
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="400px" width="400px" style="position:absolute; top: 630px; left: 470px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="340px" width="340px" style="position:absolute; top: 670px; left: 390px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="300px" width="300px" style="position:absolute; top: 700px; left: 310px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="260px" width="260px" style="position:absolute; top: 725px; left: 240px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="210px" width="210px" style="position:absolute; top: 760px; left: 190px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="340px" width="340px" style="position:absolute; top: 670px; right: 390px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="300px" width="300px" style="position:absolute; top: 700px; right: 310px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="260px" width="260px" style="position:absolute; top: 725px; right: 240px">
    <img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="210px" width="210px" style="position:absolute; top: 760px; right: 190px">
</div>
<div>
 <h1 style=" display: block; background: gold; position: absolute; width: 550px; height: 3px; top: 1040px; left: 430px; margin: auto; border-radius: 100%; "></h1>
 <div><img src="{% static 'images/WhatsApp_Image_2021-03-02_at_10.45.11_AM-removebg-preview.png' %}" height="500px" width="1000px;" style="position: absolute; top: 900px; left: 200px"></div>
 <div><h2 style="font-size: 50px; color: blue; position: absolute; top: 1090px; left: 420px">SAHARA CINE AWARDS</h2></div>
<h1 style=" display: block; background: gold; position: absolute; width: 550px; height: 3px; top: 1260px; left: 430px; margin: auto; border-radius: 100%; "></h1>
     </div>
<div>
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 1330px; left: 310px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 1330px; left: 620px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 1330px; right: 0px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="330px" width="430px" style="position: absolute; top: 1330px; left: 0px">
</div>
<div>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 1400px; left: 130px">Sahara World</h3>
<h3 style="color: gold; font-size: 30px; position: absolute; top: 1440px; left: 130px;">Cine Awards<br><span style="position: absolute; top: 40px; left: 35px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 1400px; left: 445px">Sahara World</h3>
<h3 style="color: gold;font-size: 30px; position: absolute;top: 1440px; left: 430px">VVIP's & VIP<br><span style="position: absolute; top: 40px; left: 55px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 1400px; right: 430px">Sahara World</h3>
<h3 style="color: gold; font-size: 22px; position: absolute; top: 1450px; right: 410px">Top Media of the Year<br><span style="position: absolute; top: 35px; right: 50px; font-size: 47px">2021</span></h3>
<h3 style="color: gold; font-size: 27px; position: absolute; top: 1400px; right: 140px">Sahara World</h3>
<h3 style="color: gold; font-size: 25px; position: absolute; top: 1440px; right: 130px">Best Company of<br><span style="position: absolute; right: 10px">the Year Award</span><br><span style="position: absolute; top: 55px; right: 37px; font-size: 47px">2021</span></h3>
        </div>
<div>
    <img src="{% static 'images/spark2-removebg-preview.png' %}" height="180px" width="400px" style="position: absolute; top: 930px; left: 400px">
<img src="{% static 'images/spark2-removebg-preview.png' %}" height="180px" width="400px" style="position: absolute; top: 1155px; left: 400px">
</div>
<div>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1555px; left: 143px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1555px; left: 450px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1555px; right: 140px;">Sahara World</h2>
<h2 style="font-size: 25px; color: black; position: absolute; top: 1555px; right: 435px;">Sahara World</h2>
</div>
<div>
        <h1 style="color: gold; position: absolute; top: 1650px; right: 60px; font-size: 40px; font-family: 'Dancing Script', cursive;">We Make Your Life More Beautiful...!</h1>
    </div>
<div>
<h1 style="font-size: 20px; color: gold; position: absolute; top: 1780px; right: 150px">VENUE WILL BE ANNOUNCED SHORTLY</h1>
    <h4 style="font-size: 15px; color: gold; position: absolute; top: 1810px; right: 260px">Program Begins at 7:00 PM</h4>
<h3 style="font-size: 20px; color: gold; position: absolute; top: 1840px; right: 350px">RED CARPET AFFAIR<span style="font-size: 50px; position: absolute; color: gold; top: -27px; ">&nbsp;&nbsp;.</span></h3>
<h3 style="font-size: 20px; color: gold; position:absolute; top: 1840px; right: 120px">FORMAL ATTIRE</h3>
        </div>
 <h1 style=" display: block; background: gold; position: absolute; width: 390px; height: 3px; top: 1800px; right: 150px"></h1>
 <h1 style=" display: block; background: gold; position: absolute; width: 390px; height: 3px; top: 1760px; right: 150px"></h1>
 <h1 style=" display: block; background: gold; position: absolute; width: 500px; height: 3px; top: 1830px; right: 100px"></h1>
<div>
        <p style="color: gold; position: absolute; top: 1660px; left: 50px; font-size: 30px">Come to feel</p>
        <p style="color: gold; position: absolute; top: 1700px; left: 50px; font-size: 30px;">"the Rhythm of Life"</p>
        <p style="color: gold; position: absolute; top: 1740px; left: 50px; font-size: 30px;">meet you in hyderabad.</p>
    </div>
<div>
    <p style="color: gold; position: absolute; top: 1820px; left: 30px; font-size: 15px">THIS EVENT WILL BE ANNOUNCED AND PLACED SHORTLY.</p>
<h4 style="color: gold; position: absolute; top: 1840px; left: 30px; font-size: 15px">TICKETS WILL BE OUT SHORTLY ON ONLINE & OFFLINE</h4>
</div>
<div class="foot">
    <h5 style="position: absolute; left: 140px; color: silver; font-size: 20px; top: 2000px; padding: 20px; border-style: solid; border-width: 2px; border-color: silver; border-radius: 20px; background-color: white">&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">Follow us on:</span>
        &nbsp;&nbsp;&nbsp;<span style="color: blue"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;<span style="color: green"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;<span style="color: #1273EB"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;<span style="color: deeppink"><i class="fa fa-instagram" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;<span style="color: royalblue"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;<span style="color: red"><i class="fa fa-youtube-square" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">www.saharaworldms.com &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; +91 9951617786,&nbsp;&nbsp;&nbsp; +91 6303337083&nbsp;&nbsp;&nbsp;</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h5>
</div>
</body>
</html>