{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body{
            background-image: url({% static 'images/awarda9.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div>
    <h1 class="text2" style="color: yellow; font-size: 48px; position: absolute; top: 0px; left: 60px">
        SAHARA WORLD EVENTS MANAGEMENT SERVICES
    </h1>
        </div>
<div>
        <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; left: 50px">&nbsp;&nbsp;WORLD'S LARGEST FAMILY</h2>
            <h2 style="color: blue; position: absolute; top: 80px; font-size: 20px; right: 75px">Group of (SWMS) Services (OPC) Pvt. Ltd.</h2>
    </div>
<div>
<h1 style="color: silver; font-size: 120px; position: absolute; top: 50px; left: 230px; font-family: 'Dancing Script', cursive;">SAHARA WORLD</h1>
</div>
 <div>
<h1 style="color: silver; font-size: 70px; position: absolute; top: 230px; left: 530px; ">Bollywood</h1>
    <h1 style="color: silver; font-size: 100px; position: absolute; top: 300px; left: 300px">Live in CONCERT</h1>
        </div>
<div class="border">
<h5 style="position: absolute; left: 460px; color: silver; font-size: 30px; top: 430px; padding: 20px; border-style: solid; border-width: 2px; border-color: silver; border-radius: 20px">HYDERABAD TOUR MAY-2021</h5>
</div>
</body>
</html>