{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body{
            background-image: url({% static 'images/backg1.png' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <title>Title</title>
</head>
<body>
<img src="{% static 'images/film_fare2-removebg-preview.png' %}" height="400px" width="400px" style="position: absolute; top: 80px; left: 600px; ">
<img src="{% static 'images/spark2-removebg-preview.png' %}" height="450px" width="850px" style="position: absolute; top: 155px; left: 215px">
<h3 style="color: gold; font-size: 33px; position: absolute; top: 650px; left: 220px">Best Sahara</h3>
<h3 style="color: gold;font-size: 35px; position: absolute;top: 700px; left: 170px">Company Awards<br><span style="position: absolute; top: 45px; left: 60px; font-size: 67px">2021</span></h3>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 650px; left: 620px">Best Sahara</h3>
<h3 style="color: gold; font-size: 40px; position: absolute; top: 700px; left: 595px;">Cine Awards<br><span style="position: absolute; top: 45px; left: 42px; font-size: 67px">2021</span></h3><h4 style="color: gold; font-size: 45px; position: absolute; top: -35px; left: 340px">SAHARA BOLLYWOOD LIVE CINE AWARDS-2021</h4>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 650px; right: 615px">Best Sahara</h3>
<h3 style="color: gold; font-size: 40px; position: absolute; top: 700px; right: 575px">Media Awards<br><span style="position: absolute; top: 45px; right: 53px; font-size: 67px">2021</span></h3>
<h3 style="color: gold; font-size: 33px; position: absolute; top: 650px; right: 215px">Best Sahara</h3>
<h3 style="color: gold; font-size: 45px; position: absolute; top: 700px; right: 180px">VVIP Award<br><span style="position: absolute; top: 45px; right: 48px; font-size: 67px">2021</span></h3>
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 510px; left: 398px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 510px; left: 800px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 510px; right: 0px">
<img src="{% static 'images/award_banner-removebg-preview.png' %}" height="500px" width="600px" style="position: absolute; top: 510px; left: 0px">

<h1 style=" display: block; background: gold; position: absolute; width: 610px; height: 3px; top: 970px; left: 600px"></h1>
<h1 style="font-size: 30px; color: gold; position: absolute; top: 990px; left: 610px">VENUE WILL BE ANNOUNCED SHORTLY</h1>
<p style="font-size: 180px; color: gold; position: absolute; top: -50px; left: 340px"><span>FILM</span><span style="position:absolute; left: 510px"> FARES</span></p>

<h3 style="font-size: 25px; color: gold; position: absolute; top: 1100px; left: 650px">RED CARPET AFFAIR<span style="font-size: 50px; position: absolute; color: gold; top: -27px; ">&nbsp;&nbsp;.</span></h3>
<h3 style="font-size: 25px; color: gold; position:absolute; top: 1100px; right: 630px">FORMAL ATTIRE</h3>
<h4 style="font-size: 20px; color: gold; position: absolute; top: 1050px; left: 800px">Program Begins at 7:00 PM</h4>
<h5 style="font-size: 25px; color: gold; position: absolute; top: 1130px; left: 860px">TICKETS $20</h5>
<p style="color: gold; position: absolute; top: 1250px; left: 30px; font-size: 20px">ADMISSION INCLUDES 2 CHAMPAGINE DRINKS.</p>
<p style="color: gold; position: absolute; top: 1280px; left: 30px; font-size: 20px">THIS EVENT WILL WILL BE ANNOUNCED AND PLACED SHORTLY.</p>
<h4 style="color: gold; position: absolute; top: 1330px; left: 30px; font-size: 18px">TICKETS WILL BE OUT SHORTLY ON ONLINE & OFFLINE</h4>
<h1 style=" display: block; background: gold; position: absolute; width: 610px; height: 3px; top: 1030px; left: 600px"></h1>
<h1 style="font-size: 50px; color: gold; position: absolute; top: 450px; right: 620px">Sahara World Cine Awards-2021</h1>
<h1 style=" display: block; background: gold; position: absolute; width: 800px; height: 3px; top: 1100px; left: 500px"></h1>
</body>
</html>