{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <style type="text/css">
        body{
            background-image: url({% static 'images/award6.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <title>sahara worldms.com</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">`
    <link rel="stylesheet" type="text/css" href="{% static 'style/style1.css' %}">
</head>
<body>
<div class="text1">
    <h1 class="text2" style="color: darkorange;font-size: 68px">
        SAHARA WORLD EVENTS MANAGEMENT SERVICES
    </h1>
    <div class="text3">
        <h2 class="text3.1" style="color: darkorange">&nbsp;&nbsp;WORLD'S LARGEST FAMILY<span style="padding-left: 958px">Group of (SWMS) Services (OPC) Pvt. Ltd.</span></h2>
        <h2 class="text3.2"></h2>
    </div>
    <div class="text4" style="color: darkorange;font-size: 30px">
        Presents
    </div>
    <div class="text5" style="color: darkorange; font-size: 80px">
        Sahara World Cine Awards<br>
        <span style="font-size: 80px; color: darkorange">2021</span>
    </div>
    <h2 style="text-align: center; font-size: 45px; color: darkorange">&</h2>
    <h1 class="text6" style="color: darkorange">
        LIVE IN CONCERT
    </h1>
    <h2 class="text7" style="color: darkorange; position: absolute; top: 700px; left: 900px">SEASON - 4</h2><br>
    <div class="for">
    <h2 class="text8" style="color: silver;position: absolute; top: 1110px; left: 70px">For the First Time in Hyderabad on Biggest Platform</h2>
    <section class="parent">
        <section class="child">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'images/sandeep-removebg-preview.png' %}" height="400" width="450" style="border-radius: 60%; position: absolute; top: 400px; left: 100px">
            <span></span><img src="{% static 'images/idol-removebg-preview (2).png' %}" height="350px" width="450px" style="border-radius: 100px; position: absolute; top: 730px; left: 115px">

        </section>
        <section class="child">
            <h5 class="text9" style="color: silver; position: absolute; top: 1120px; left: 10px; font-size: 30px">Date:<span style="color: silver">DATE & VENUE WILL BE ANNOUNCED SOON &nbsp;</span><br>
            </h5>
            <h5 style="position: absolute; top: 1130px; left: 850px; font-size: 30px; color: white">Program Begins at 7:00 PM</h5>
            <h3 align="center" style="color: darkorange; font-size: 30px; position: absolute; top: 800px; left: 770px">Followed by : International Motivational<br> Speaker<br></h3>
            <h3 class="text10" style="font-size: 30px;color: darkorange; position: absolute; top: 900px; left: 900px">MOHAMMED SAJID ALI</h3>

        </section>
        <section class="child">
            &nbsp;&nbsp;&nbsp;<img src="{% static 'images/ritika-removebg-preview.png' %}" height="350" width="220" style="border-radius: 60%; position: absolute; top: 500px; right: 230px"> &nbsp; &nbsp;<br>
             <img src="{% static 'images/unnamed-removebg-preview.png' %}" height="450" width="400" style="border-radius: 100px; position: absolute; top: 730px; right: 150px">
        </section>
    </section>
     <h2 class="text11" style="color: silver; position: absolute; top: 1150px; right: 130px">BOOK YOUR TICKETS<br>
                <span>ONLINE/OFFLINE</span>
     </h2>
     <img src="{% static 'images/oscar-removebg-preview.png' %}" width="700px" height="450px" style="position: absolute; top: 670px; left: 480px">
     </div>
</div>
<span style="color: white"><a href="{% url 'awards' %}">AWARDS Page</a></span>
</body>
</html>