{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <style type="text/css">
        body{
            background-image: url({% static 'images/sing7.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <title>sahara worldms.com</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">`
    <link rel="stylesheet" type="text/css" href="{% static 'style/style1.css' %}">
</head>
<body>
<div class="text1">
    <h1 class="text2" style="color: yellow">
        SAHARA WORLD EVENTS MANAGEMENT SERVICES
    </h1>
    <div class="text3">
        <h2 class="text3.1" style="color: blue">&nbsp;&nbsp;WORLD'S LARGEST FAMILY<span style="padding-left: 538px">Group of (SWMS) Services (OPC) Pvt. Ltd.</span></h2>
        <h2 class="text3.2"></h2>
    </div>
    <div class="text4" style="color: deeppink;font-size: 30px">
        Presents
    </div>
    <div class="text5" style="color: lime; font-size: 50px">
        Sahara World Cine Awards<br>
        <span style="font-size: 50px; color: lime">2021</span>
    </div>
    <h2 style="text-align: center; font-size: 45px; color: red">&</h2>
    <h1 class="text6" style="color: greenyellow">
        LIVE IN CONCERT
    </h1>
    <h2 class="text7" style="color: deepskyblue">SEASON - 4</h2><br>
    <div class="for">
    <h2 class="text8" style="color: white">For the First Time in Hyderabad on Biggest Platform</h2>
    <section class="parent">
        <section class="child">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'images/sandeep-removebg-preview.png' %}" height="250" width="450" style="border-radius: 60%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span></span><img src="{% static 'images/idol-removebg-preview (2).png' %}" height="300px" width="400px" style="border-radius: 100px;">

        </section>
        <section class="child">
            <h4 class="text9" style="color: lawngreen">Date:<span style="color: yellow">Comimg Soon in May-2021 &nbsp;</span><br>
            </h4>
            <h3 align="center" style="color: white; font-size: 30px">Followed by : International Motivational Speaker<br></h3>
            <h3 class="text10" style="color: red">MOHAMMED SAJID ALI</h3>

        </section>
        <section class="child">
            &nbsp;&nbsp;&nbsp;<img src="{% static 'images/ritika.jpeg' %}" height="250" width="150" style="border-radius: 60%"> &nbsp; &nbsp;<br>
             <img src="{% static 'images/unnamed-removebg-preview.png' %}" height="200" width="200" style="border-radius: 100px;">
        </section>
    </section>
     <h2 class="text11" style="color: deepskyblue">BOOK YOUR TICKETS<br>
                <span>ONLINE/OFFLINE</span>
     </h2>
     </div>
</div>
<a href="{% url 'awards' %}"><span style="color: white">click</span></a>
<a href="{% url 'click1' %}"><span style="color: white">click1</span></a>
<a href="{% url 'awards2' %}"><span style="color: white">click2</span></a>
<a href="{% url 'awards3' %}"><span style="color: white">click3</span></a>
<a href="{% url 'awards4' %}"><span style="color: white">click4</span></a>
<a href="{% url 'line' %}"><span style="color: white">Line</span></a>
<a href="{% url 'company' %}"><span style="color: white">Company</span></a>
</body>
</html>